.header {

}

#name-h1 {
    font-size: 40px;
    color: white;
    background-color: ;
}

#linkedin {
    width: auto;
    height: 25px;
}

#github {
    width: auto;
    height: 25px;
}

.href_container {
  background-color: ;
}

.scroll-menu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scroll-menu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scroll-menu a:hover {
  background-color: #777;
}

.footer {
  background-color: #333;
}

.href_container {
  background-color: ;
}

body {
  background-color: #1a1a1a;
}

p {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}
