
* {
  box-sizing: border-box;
}

/* Setting the color for all text to white */
h2 {
  color: white;
}

h3 {
  color: white;
}

h5 {
  color: white;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

h4 {
  color: white;
}

/* Style the code copy box */
.copy-container {
  padding: 10px;
  margin-top: 0px;
  border-radius: 0px;
  background-color: #181A1B;
}

#myInput {
  padding: 20px;
  color: white;
  background-color: #484E51;
  font-weight: bold;
  border-radius: 20px;
}

.copy-button {
  background-color: #181A1B;
  border-radius: 10px; 
  position: relative;
  right: 50px;
  bottom: 00px;
}

#copy-icon {
  background-color: #181A1B;
  border-radius: 70px; 
  height: 20px;
}

/* Syling the links to Linkedin and github */
#linkedin {
  height: 25px;
}

#github {
  height: 25px;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #131516;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #181A1B;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #484E51;
  width: 100%;
  padding: 20px;
  color: white;
}

/* Style for my screenshots  */
.screenshots {
  padding: 20px;
  height: 500px;
}

/* About me picture */
.about-me-image {
  background-color: #181A1B;
  /* height: 40px; */
  /* width: 100%; */
  padding: 20px;
  text-align: center;
}

.thumbnail-images {
  max-width:100%;
  max-height:100%;
}

/* Add a card effect for articles */
.card {
   background-color: #181A1B;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #2B2F31;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

  .thumbnail-images {
    max-width:100%;
    max-height:100%;
  }

  .screenshots {
    max-width:100%;
    max-height:100%;
  }
}