.header {
    background-color: white;
}

#name-h1 {
    font-size: 40px;
}

#linkedin {
    width: auto;
    height: 25px;
}

#github {
    width: auto;
    height: 25px;
}

.href_container {

}

my-footer {

}
